.button {
    -fx-text-fill: white;
    -fx-padding: 5, 1, 5, 1;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: rgb(90,93,95);
}

.button:armed {
    -fx-background-color: rgb(90,93,95);
}