.table-view .table-column {
   -fx-padding: 0 2 0 2;
 }

.table-view:focused {
    -fx-background-color: transparent ,-fx-box-border,-fx-control-inner-background;
}

.table-view .column-header-background{
    -fx-background-color: rgb(99,99,99);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, rgb(217,217,217);
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, rgb(201,201,201);
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .filler {
    -fx-background-color: rgb(99,99,99);
}

.table-view {
    -fx-background-color: rgb(99,99,99);
}

/*.table-view *.scroll-bar:horizontal *.increment-button,*/
/*.table-view *.scroll-bar:horizontal *.decrement-button {*/
    /*-fx-background-color: null;*/
    /*-fx-background-radius: 0;*/
    /*-fx-background-insets: 0;*/
    /*-fx-padding: 0;*/
/*}*/

/*.table-view *.scroll-bar:horizontal *.increment-arrow,*/
/*.table-view *.scroll-bar:horizontal *.decrement-arrow {*/
    /*-fx-background-color: null;*/
    /*-fx-background-radius: 0;*/
    /*-fx-background-insets: 0;*/
    /*-fx-padding: 0;*/
    /*-fx-shape: null;*/
/*}*/